
.container-for-overlay {
	position: relative;
	background-color: rgb(26,26,26);
}

container-for-overlay a {
	text-decoration: none;
}


.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .3s ease;
	backface-visibility: hidden;
}

.middle {
	transition: .3s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	color: white;
	text-align: left;
	width: 100%;
	height: 100%;
	
}



.container-for-overlay:hover .image {
    opacity: 0.5 !important;
}


.container-for-overlay:hover .middle {
    opacity: 1;
}

.text{
	text-align: left;
	font-size:1em;
}

