MovieTheater1/.vs
MovieTheater1/MovieTheater1/bin/*
MovieTheater1/MovieTheater1/obj/*
MovieTheater1/DataQueryTesting/bin/*
MovieTheater1/DataQueryTesting/obj/*
MovieTheater1/MovieTheaterDatabase/bin/*
MovieTheater1/MovieTheaterDatabase/obj/*
MovieTheater1/MovieTheaterDataLib/bin/*
MovieTheater1/MovieTheaterDataLib/obj/*
MovieTheater1/WebApplication1/bin/*
MovieTheater1/WebApplication1/obj/*


