

@using MovieTheater1.Models
@model List<PHIM>

@foreach (var item in Model)
{
	<div class=" col-sm-12 col-12" style="padding-right: 2em; padding-top: 1em;">
        <a href="@Url.Action("ChiTiet","QKTCinema", new {id=@item.MAPHIM})">
            <div class="container-for-overlay">
                <img class="image w-100 " src="@Url.Content("~/Content/Images/450x300/" + item.ANHDAIDIEN + ".jpg")" img />
                <div class="middle d-flex justify-content-center align-items-center  d-flex justify-content-center align-items-center ">
                    <button href="#" class="btn btn-datve"> MUA VÉ</button>
                </div>
            </div>
        </a>
		<div class=" text-uppercase  font-weight-bold">
			@item.TENPHIM
		</div>
		<div class="text-uppercase">
			@item.TENTIENGANH
		</div>
	</div>
}
