
@{
	ViewBag.Title = "HoTro";
	Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}


<body>
	<br />
	<div class="container">
		<div class="row">
			<div class=" ho-tro-box col-md-8 col-sm-8 col-12 ">
				<div class="contact-header">
					Bạn có gì muốn nhắn nhủ  TQKCinema?

					<div class=" d-flex justify-content-around flex-wrap feedback-contact">
						<div class="feedback-contact-item">
							<i class="fa fa-envelope"></i><a href="mailto:supports@galaxy.com.vn">supports@galaxy.com.vn</a>
						</div>
						<div class="feedback-contact-item">
							<i class="fa fa-phone"></i>	<a href="mailto:19002224">19002224</a>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-sm-4 col-12">
						<div class="form-group">

							<input type="text" class="form-control" placeholder="Họ và tên ">
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-12">
						<div class="form-group" style="">
							<input type="email" class="form-control" placeholder="Email">
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-12">
						<div class="form-group" style="">
							<input type="text" class="form-control" placeholder="Số điện thoại ">
						</div>
					</div>
				</div>


				<div class="form-group">
					<textarea rows="4" class="form-control col-md-12 col-sm-12 col-12" placeholder="Nội dung "></textarea>

				</div>
				<div class="d-flex justify-content-end">
					<button class="btn btn-feedback"> Gửi </button>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 col-12 	d-none d-sm-block">

				<table cellpadding="10" style="background-color: rgb(228, 228, 228); width: 100%;">
					<tr>
						<td style="background-color:rgb(242, 107, 56); color: white; font-weight:bold;">MUA VÉ NHANH </td>
						<td>
							&nbsp;
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<select id="selectbasic" name="selectbasic" class="form-control">
								<option default> Chọn phim </option>
								<option value="1">Option one</option>
								<option value="2">Option two</option>
							</select>
					</tr>
					<tr>
						<td colspan="2">
							<select id="selectbasic" name="selectbasic" class="form-control">
								<option default> Chọn rạp </option>
								<option value="1">Option one</option>
								<option value="2">Option two</option>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<select id="selectbasic" name="selectbasic" class="form-control">
								<option default> Chọn ngày </option>
								<option value="1">Option one</option>
								<option value="2">Option two</option>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<select id="selectbasic" name="selectbasic" class="form-control">
								<option default> Chọn suất </option>
								<option value="1">Option one</option>
								<option value="2">Option two</option>
							</select>
						</td>
					</tr>
					<tr>
						<td style="">
						</td>
						<td align="right">
							<button class="btn btn-feedback">
								MUA VÉ
							</button>
						</td>
					</tr>
				</table>

			</div>
		</div>

		<div class="	d-none d-sm-block">
			<br />
			<div class="row d-flex justify-content-start ">
				<div>
					<h3> Phim trong tháng </h3>
				</div>
			</div>
			<br />
			<div class="row ">
				@Html.Action("_PartialPhim_HoTro", "QKTCinema")
			</div>
		</div>

	</div>
</body>
