@using MovieTheater1.Models
@model List<PHIM>

@{
    ViewBag.Title = "Phim sắp chiếu";
    Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}

	<body>
		<ul class=" container nav nav-tabs ">
			<li class="nav-item">
				<a class="nav-link btn-tab"  href=@Url.Action("PhimDangChieu","QKTCinema")>Phim Đang chiếu </a>
			</li>
			<li class="nav-item">
				<a class=" nav-link btn-tab" style="" href=@Url.Action("PhimSapChieu", "QKTCinema")>Phim sắp chiếu</a>
			</li>
		</ul>


		<div class="container">
			<div class="row" style="">
				
				@foreach (var item in Model)
				{
					<div class="col-md-3 col-sm-3 col-6" style="padding: 3% 1% 1% 1%;">
						<div class="container-for-overlay">
							<img class="image w-100 " src="@Url.Content("~/Content/Images/300x450xphim/" + item.ANHDAIDIEN + ".jpg")" img />
							<div class="middle d-flex justify-content-center align-items-center  d-flex justify-content-center align-items-center ">
								<a href="#" class="btn btn-datve"> MUA VÉ</a>
							</div>
						</div>
						<div class=" text-uppercase  font-weight-bold">
							@item.TENPHIM
						</div>
						<div class="text-uppercase">
							@item.TENTIENGANH
						</div>
					</div>
				}
				

			</div>
		</div>
	</body>

