
@{
    ViewBag.Title = "Phim đang chiếu";
    Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}

	<body>
		<div class="container" style="">
			<div class="row" style="">
				<div class="col-sm-4" style="padding: 3% 2.5% 1% 2.5% ">
					<div class="container-for-overlay">
						<img src="~/Content/images/thumbs/featured/featured-watch.jpg" alt="Avatar" class="image" style="width:100%">
						<div class="middle">
							<a style="border-radius: 20px; " href="#" class="btn btn-light"><span class="glyphicon glyphicon-eye-open"></span> ĐẶT VÉ</a>
						</div>
					</div>
					<div class="text-center text-uppercase text-light font-weight-bold">Tên phim 1</div>
				</div>

				<div class="col-sm-4" style="padding: 3% 2.5% 1% 2.5% ">

					<div class="container-for-overlay">
						<img src="~/Content/images/thumbs/featured/featured-guitarman.jpg" alt="Avatar" class="image" style="width:100%">
						<div class="middle">
							<a style="border-radius: 20px; " href="#" class="btn btn-light"><span class="glyphicon glyphicon-eye-open"></span> ĐẶT VÉ</a>
						</div>
					</div>
					<div class="text-center text-uppercase text-light font-weight-bold">Tên phim 2</div>


				</div>
				<div class="col-sm-4" style="padding: 3% 2.5% 1% 2.5% ">

					<div class="container-for-overlay">
						<img src="~/Content/images/thumbs/featured/featured-beetle.jpg" alt="Avatar" class="image" style="width:100%">
						<div class="middle">
							<a style="border-radius: 20px; " href="#" class="btn btn-light"><span class="glyphicon glyphicon-eye-open"></span> ĐẶT VÉ</a>
						</div>
					</div>
					<div class="text-center text-uppercase text-light font-weight-bold">Tên phim 3</div>

				</div>

				<div class="col-sm-4" style="padding: 3% 2.5% 1% 2.5% ">

					<div class="container-for-overlay">
						<img src="~/Content/images/thumbs/featured/featured-watch.jpg" alt="Avatar" class="image" style="width:100%">
						<div class="middle">
							<a style="border-radius: 20px; " href="#" class="btn btn-light"><span class="glyphicon glyphicon-eye-open"></span> ĐẶT VÉ</a>
						</div>
					</div>
					<div class="text-center text-uppercase text-light font-weight-bold">Tên phim 4</div>
				</div>
			</div>
		</div>
	</body>

