<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
	<link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<script src="~/Content/bootstrap.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>


	<link href="~/Content/Footer.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
	<link href="~/Content/image-overlay.css" rel="stylesheet" />
</head>
<body>
	<style>
	</style>

	<div class="container-fluid " style="background-color: rgb(247, 249, 250)">

		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4">
				<img src="~/Content/logo (2).png" class="image w-100" />
			</div>
			<div class=" d-flex justify-content-around  align-items-center flex-wrap col-md-8 col-sm-8 col-xs-8 ">
				<div class=" d-none d-xl-block d-lg-block">
					<form class="form-inline my-2 my-lg-0 ">

						<div class="input-group" style="border-radius:0px;  border: 1px solid gray;">
							<button class="btn btn-search my-2 my-sm-0 "
									type="submit" style="border:none;">
								<i class="fa fa-search"></i>

							</button>

							<input class="form-control my-2 my-sm-0" type="text" placeholder="Tìm tên phim, diễn viên..."
								   aria-label="Search" style="border: none;  ">

						</div>
					</form>
				</div>
				<div>
					<a href=@Url.Action("DangNhap", "Home") class="btn btn-primary btn-light btn-login" style="border-radius:20px; "><span class="fa fa-download"></span> Đăng nhập</a>

					<a href=@Url.Action("DangKi", "Home") class="btn btn-primary btn-light btn-login" style="border-radius:20px; "><span class="fa fa-download"></span> Đăng kí</a>
				</div>

			</div>
		</div>
		<nav class="navbar navbar-expand-lg   " style="width: 100%; background-color:black;">

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fa fa-bars bg-light"></span>
				</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto mx-auto nav-text">
					<li class="nav-item d-xl-none d-lg-none ">
						<form class="form-inline my-2 my-lg-0 ">

							<div class="input-group" style="border-radius:15px; ">
								<button class="btn btn-outline-success my-2 my-sm-0 "
										type="submit" style="border:none;">
									<i class="fa fa-search"></i>

								</button>

								<input class="form-control my-2 my-sm-0" type="text" placeholder="Search" size="1000"
									   aria-label="Search" style="border: none; border-radius:0px 15px 15px 0px; ">

							</div>
						</form>
					</li>
					<li class="nav-item ">
						<a class="nav-link nav-text" href=@Url.Action("TrangChu", "QKTCinema")>
							TRANG CHỦ <span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-text" href=@Url.Action("MuaVe", "QKTCinema")>
							MUA VÉ
						</a>
					</li>
					<li class="nav-item dropdown ">
						<a class="nav-link nav-text dropdown-toggle " href="#" id="navbardrop" data-toggle="dropdown">
							PHIM
						</a>

						<ul class="dropdown-menu bg-black ">
							<li>
								<a href=@Url.Action("PhimDangChieu","QKTCinema") class="nav-link nav-dropdown-text" style="width:100%; ">
									Phim đang chiếu
								</a>
							</li>

							<li class="container-table-image d-none d-md-block" style="width:45rem;">
								<table cellpadding="10">
									<tr>
										<td>
											<div class="container-for-overlay">
												<img src="~/Content/Images-from-galaxycine/450x300/phim-image (1).jpeg" alt="Avatar" class="image" style="width:100%" />
												<div class="middle d-flex justify-content-center align-items-center ">
													<a href="#" class="btn btn-datve btn-datve-nav"><span class="glyphicon glyphicon-eye-open"></span> mua vé</a>
												</div>
											</div>
											<div class=" text-white-left">Crazy Man</div>
											<div class="text-white-left"> Thằng khùng hay cười </div>
										</td>
										<td>
											<div class="container-for-overlay">
												<img class="w-100" src="~/Content/Images-from-galaxycine/450x300/phim-image (10).jpg" />
												<div class="middle d-flex justify-content-center align-items-center ">
													<a href="#" class="btn btn-datve btn-datve-nav"><span class="glyphicon glyphicon-eye-open"></span> mua vé</a>
												</div>
											</div>
											<div class=" text-white-left">Bad guys: Kill them</div>
											<div class="text-white-left"> Bọn bất hảo: Giết người </div>
										</td>
										<td>
											<div class="container-for-overlay">
												<img class="w-100 " src="~/Content/Images-from-galaxycine/450x300/phim-image (13).jpg" />
												<div class="middle d-flex justify-content-center align-items-center ">
													<a href="#" class="btn btn-datve btn-datve-nav"><span class="glyphicon glyphicon-eye-open"></span> mua vé</a>
												</div>
											</div>
											<div class=" text-white-left">Rainning</div>
											<div class="text-white-left"> Trời sắp mưa</div>
										</td>

									</tr>
								</table>
							</li>
							<li> <a href=@Url.Action("PhimSapChieu","QKTCinema" ) class="nav-link nav-dropdown-text" style="width:100%;"> Phim sắp chiếu</a></li>

							<li class="container-table-image d-none d-md-block" style="width:45rem;">
								<table cellpadding="10">
									<tr>
										<td>
											<div class="container-for-overlay">
												<img class="w-100 " src="~/Content/Images-from-galaxycine/450x300/phim-image (17).jpg" />
												<div class="middle d-flex justify-content-center align-items-center ">
													<a href="#" class="btn btn-datve btn-datve-nav"><span class="glyphicon glyphicon-eye-open"></span> mua vé</a>
												</div>
											</div>
											<div class="text-white-left">Crazy Man</div>
											<div class="text-white-left"> Thằng khùng hay cười </div>
										</td>
										<td>
											<div class="container-for-overlay">
												<img class="w-100" src="~/Content/Images-from-galaxycine/450x300/phim-image (13).jpg" />
												<div class="middle d-flex justify-content-center align-items-center ">
													<a href="#" class="btn btn-datve btn-datve-nav"><span class="glyphicon glyphicon-eye-open"></span> mua vé</a>
												</div>
											</div>
											<div class=" text-white-left">Bad guys: Kill them</div>
											<div class="text-white-left"> Bọn bất hảo: Giết người </div>
										</td>
										<td>
											<div class="container-for-overlay">
												<img class="w-100 " src="~/Content/Images-from-galaxycine/450x300/phim-image (9).jpg" />
												<div class="middle d-flex justify-content-center align-items-center ">
													<a href="#" class="btn btn-datve btn-datve-nav"><span class="glyphicon glyphicon-eye-open"></span> mua vé</a>
												</div>
											</div>
											<div class=" text-white-left">Rainning</div>
											<div class="text-white-left"> Trời sắp mưa</div>
										</td>

									</tr>
								</table>
							</li>
						</ul>
					</li>


					<li class="nav-item nav-text">
						<a class="nav-link nav-text " href=@Url.Action("SuKien","QKTCinema")>SỰ KIỆN</a>
					</li>

					<li class="nav-item nav-text">
						<a class="nav-link nav-text" href=@Url.Action("RapGiaVe","QKTCinema")>
							RẠP/GIÁ VÉ
						</a>
					</li>
					<li class="nav-item nav-text">
						<a class="nav-link nav-text" href=@Url.Action("HoTro","QKTCinema")>
							HỖ TRỢ
						</a>
					</li>

					<li class="nav-item nav-text">
						<a class="nav-link nav-text" href=@Url.Action("ThanhVien","QKTCinema")>
							THÀNH VIÊN
						</a>
					</li>


				</ul>

			</div>
		</nav>


		@RenderBody()

		<section id="footer" class="">
			<div class="container-fluid bg-dark ">
				<br />

				<div class="row text-center text-xs-center text-sm-left text-md-left">
					<div class="col-xs-12 col-sm-4 col-md-4">
						<h5>Giới thiệu </h5>
						<ul class="list-unstyled quick-links">
							<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Về chúng tôi</a></li>
							<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Thỏa thuận sử dụng</a></li>
							<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Quy chế hoạt động </a></li>
							<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Chính sách hoạt động </a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4">
						<h5>Góc điện ảnh</h5>
						<ul class="list-unstyled quick-links">
							<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Thể loại phim</a></li>
							<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Bình luận phim</a></li>
							<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Blog điện ảnh</a></li>
							<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Phim hay tháng</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4">
						<h5>Hỗ trợ</h5>
						<ul class="list-unstyled quick-links">
							<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Góp ý</a></li>
							<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Sale & services</a></li>
							<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Rạp/Giá vé</a></li>
							<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Tuyển dụng</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
						<ul class="list-unstyled list-inline social text-center">
							<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
							<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
							<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
						</ul>
					</div>
					</hr>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
						<p>
							<u>
								<a href="#">
									Công Ty Cổ Phần Phim QTK
								</a>
							</u> quán trà sữa cổng sau Đại học Thể dục thể thao TPHCM
						</p>

						<p class="h6">&copy Đã đăng ký bộ Cờ Tờ.<a class="text-green ml-2" href="#" target="_blank">Clone by LQT</a></p>
					</div>
					</hr>
				</div>
			</div>
		</section>
	</div>









</body>
</html>
