@using Microsoft.AspNet.Identity
@using MovieTheater1.Models

@{
	THANHVIEN acc = (THANHVIEN)Session["Taikhoan"];
	string username = "";
	if (Request.Cookies["usr"] != null)
	{
		username = Request.Cookies["usr"].Value;

	}
}

@if (Session["Taikhoan"] == null)
{
	<a href=@Url.Action("DangKi", "NguoiDung") class="btn btn-primary btn-light btn-login" ><span class="fa fa-download"></span> Đăng kí</a>

	<a href=@Url.Action("DangNhap", "NguoiDung") class="btn btn-primary btn-light btn-login" ><span class="fa fa-download"></span> Đăng nhập</a>

}
else
{
<div>

	<div class="btn-group ps-dropdown">
		<a class="btn btn-primary btn-light btn-login" href="@Url.Action("ThanhVien", "QKTCinema", new {id=@acc.MATV})" >Xin chào, @acc.HOTEN <i></i></a>
	</div>
	<div class="btn-group ps-dropdown">
		<a class="btn btn-primary btn-light btn-login" href="@Url.Action("DangXuat","NguoiDung")">Đăng xuất<i></i></a>

		<ul class="dropdown-menu"></ul>
	</div>
</div>
}
